@mixin button($border-color: $green, $color: #000, $x: 25px, $y: 10px, $background-color: transparent)
  font-size: 14px
  padding: $y $x
  color: $color
  background-color: $background-color
  border:
    width: 2px
    style: solid
    color: $border-color
    radius: 30px
