<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__column">
            <a href="#" class="footer__logo">
                <img src="assets/img/png/logo-light.png" alt="logo-light" width="25" height="25">
                <h1 class="footer-logo-text">Conquest</h1>
            </a>
            <ul class="footer__list">
                <li class="footer__item"><a href="tel:+84994504797" class="footer__telephone footer__item">8 (499)
                    450-47-97</a></li>
                <li class="footer__item"><a class="footer__item" href="mailto:info@conquest.watch.ru">info@conquest.watch.ru</a>
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">О компании</h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="#">Наши магазины</a></li>
                <li class="footer__item"><a href="#">Вакансии</a></li>
                <li class="footer__item"><a href="#">Сертификаты</a></li>
                <li class="footer__item"><a href="#">Отзывы</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Покупателям</h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="#">Каталог товаров</a></li>
                <li class="footer__item"><a href="#">Как заказать?</a></li>
                <li class="footer__item"><a href="#">FAQ</a></li>
                <li class="footer__item"><a href="#">Корпоративным клиентам</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Оплата и доставка</h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="#">Способы оплаты</a></li>
                <li class="footer__item"><a href="#">Время доставки</a></li>
                <li class="footer__item"><a href="#">Гарантии и ремонт</a></li>
                <li class="footer__item"><a href="#">Возврат и компенсация</a></li>
            </ul>
        </div>
    </div>
</footer>
