<header class="header">
        <a class="logo" href="#">
            <img class="logo__image" src="assets/img/png/logo.png" alt="логотип" width="20" height="20">
            <h1 class="logo__text">Conquest</h1>
        </a>
        <nav>
            <ul class="header__menu">
                <li class="menu-item"><a href="#" class="menu-link">Каталог</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Акции</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Доставка</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Контакты</a></li>
            </ul>
        </nav>
        <div class="header__icons">
            <div class="header__icon"><img src="assets/img/svg/magnifier.svg" alt="magnifier"></div>
            <div class="header__icon header__icon_circle"><img src="assets/img/svg/heart.svg" alt="heart"></div>
            <div class="header__icon"><img src="assets/img/svg/cart.svg" alt="cart"></div>
        </div>
</header>
