<section class="intro">
    <div class="intro__wrapper">
        <div class="intro__description">
            <h2 class="intro__title">Весна/Лето 2019<br> <span class="title-subtitle">Коллекция</span></h2>
            <p class="intro__text">Швейцарские часы в наличии в Москве<br> и с доставкой по всему миру</p>
            <a href="#" class="button button_black">Смотреть каталог</a>
        </div>
        <div class="intro__right">
            <p class="info info_top">22 000 &#8381;</p>
            <img src="assets/img/png/watch-main.png" alt="watch-main" class="intro__image" width="502" height="804">
            <p class="info info_bottom">28 мм диаметр</p>
        </div>
    </div>
</section>
