<section class="models">
    <div class="models__wrapper">
        <div class="models__header">
            <div></div>
            <h2 class="models__title">Популярные модели</h2>
            <a href="#" class="models__see-all">Смотреть все</a>
        </div>
        <div class="models__watches">
            <div class="watch-card">
                <div class="watch-card__content">
                    <h3 class="watch-card__title">Rado</h3>
                    <p class="watch-card__price">65 300 &#8381;</p>
                    <div class="watch-card__image-container">
                        <img src="assets/img/png/watch-1.png" alt="watch-1" class="watch-card__image" width="313"
                             height="313">
                    </div>
                    <a href="" class="watch-card__details">Подробнее</a>
                </div>
            </div>
            <div class="watch-card">
                <div class="watch-card__content">
                    <h3 class="watch-card__title">Bvlgari</h3>
                    <p class="watch-card__price">81 700 &#8381;</p>
                    <div class="watch-card__image-container">
                        <img src="assets/img/png/watch-2.png" alt="watch-2" class="watch-card__image" width="313"
                             height="313">
                    </div>
                    <a href="" class="watch-card__details">Подробнее</a>
                </div>
            </div>
            <div class="watch-card">
                <div class="watch-card__content">
                    <h3 class="watch-card__title">Bvlgari</h3>
                    <p class="watch-card__price">72 700 &#8381;</p>
                    <div class="watch-card__image-container">
                        <img src="assets/img/png/watch-3.png" alt="watch-3" class="watch-card__image" width="313"
                             height="313">
                    </div>
                    <a href="" class="watch-card__details">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>
