<section class="quality">
    <div class="quality__wrapper">
        <div class="quality__left">
            <img src="assets/img/jpg/photo-banner.jpg" alt="photo-banner" class="quality__image" width="521"
                 height="414">
            <div class="quality__arrows">
                <a href="#" class="arrow-link">
                    <img src="assets/img/png/arrow.png" alt="arrow" class="arrow" width="10" height="20">
                </a>
                <p class="page-number">01</p>
                <a href="#" class="arrow-link">
                    <img src="assets/img/png/arrow.png" alt="arrow" class="arrow arrow_right" width="10" height="20">
                </a>
            </div>
        </div>
        <div class="quality__right">
            <h2 class="quality__title">
                Подлинное качество
            </h2>
            <p class="quality__description">
                Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.
            </p>
            <a href="#" class="quality__button">Смотреть каталог</a>
        </div>
    </div>
</section>
