<section class="socials">
    <div class="socials__wrapper">
        <div class="socials__left">
            <h2 class="socials__title">Следите за нашими новостями</h2>
            <p class="socials__text">Подписывайтесь на <strong>@conquest_watch</strong> в соцсетях и узнавайте о
                новинках и акциях
                первыми.</p>
            <ul class="socials__menu">
                <li>
                    <a href="#" class="socials__link">
                        <img src="assets/img/svg/instagram.svg" alt="instagram" class="socials__icon">
                    </a>
                </li>
                <li>
                    <a href="#" class="socials__link">
                        <img src="assets/img/svg/facebook.svg" alt="facebook" class="socials__icon">
                    </a>
                </li>
                <li>
                    <a href="#" class="socials__link">
                        <img src="assets/img/svg/twitter.svg" alt="twitter" class="socials__icon">
                    </a>
                </li>
            </ul>
        </div>
        <div class="socials__right">
            <img src="assets/img/jpg/grid-photo-1.jpg" alt="grid-photo-1" class="socials__image" width="242"
                 height="228">
            <img src="assets/img/jpg/grid-photo-2.jpg" alt="grid-photo-2" class="socials__image" width="242"
                 height="228">
            <img src="assets/img/jpg/grid-photo-3.jpg" alt="grid-photo-3" class="socials__image socials__image_big"
                 width="377"
                 height="460">
        </div>
    </div>
</section>
