@import '../../../node_modules/scss-reset/src/css/reset'
@import 'base/fonts'
@import 'base/variables'
@import 'base/mixins'

a
  text-decoration: none
  color: unset

body
  font: $font
  background-color: $light-yellow

@import 'modules/header'
@import 'modules/intro'
@import 'modules/models'
